::-webkit-scrollbar{
  display:none;
}
*{
    padding:0;
    margin:0;
}
#fix{
    position: fixed;
    top: 0;
    width: 1280px;
    background-color: #fff;
    height: 50px;
    opacity: 0.5;
    display: flex;
    align-items: center;
}
#fix a{
    position: absolute;
    right: 0;
    color: #999;
    text-decoration: none;
}
header{
    background: url(../images/page1_back.jpg) no-repeat;
    height: 742px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div{
    position: relative;
    margin-top: -40px;
}
header img{
    max-height: 150px;
    max-width: 150px;
    margin-top: -100px;
    position: absolute;
    left: 22%;
}
#name{
    font-size: 50px;
    margin-top: 60px;
    font-family:'cyzximingtfc4bfdd144199c2';
    color: #fff;
    display: none;
}
#name span{
    color: #fff;
    /*display:none;*/
    letter-spacing: 8px;
}

/*第一部分*/
#section1{
    background: url(../images/line1.png) no-repeat;
    height: 955px;
    margin-top: 200px;
}
.icon{
    max-height: 20px;
    max-width: 20px;
}
.icon2{
    max-height: 30px;
    max-width: 30px;
    margin-right: 30px;
}
#word1{
    margin-left: 80px;
    position: relative;
}
.dercription h2{
    margin-bottom:40px;
    color: #333;
}
.dercription li{
    margin-top: 10px;
    color: #888;
}
.dercription ul{
    list-style: none;
}
.dercription>ul>li>img{
    margin-right: 10px;
}
.dercription>ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.phone{
    max-height: 450px;
}
#phoneBox1{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigPhone{
    max-height: 500px;
}
.smallPhone{
    max-height: 430px;
}
/*第一对app*/
#phoneBox1 .bigPhone{
    position: relative;
    left: 90px;
    bottom: 200px;
    z-index: 1;
    box-shadow: 5px 4px 5px rgba(0,0,0,.2);
}
#phoneBox1 .smallPhone{
    position: relative;
    right: 50px;
    bottom: 200px;
    box-shadow: 5px 4px 5px rgba(0,0,0,.2);
    z-index: 0;
}
/*第二对*/
#phoneBox2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 350px;
    padding-top: 500px;
    padding-left: 100px;
}
#phoneBox2 .bigPhone{
    position: relative;
    right: 80px;
    box-shadow: -5px 4px 5px rgba(0,0,0,.2);
}
#phoneBox2 .smallPhone{
    position: relative;
    left: 70px;
    box-shadow: -5px 4px 5px rgba(0,0,0,.2);
}
#word1>ul ul li{
    float: left;
}
/*第二段话*/
.muyimi li{
    float: right;
}
#word2{
    position: absolute;
    right: 200px;
    top: 1600px;
}
/*第三部分*/
#section3{
    background: url(../images/line2.png) no-repeat;
    height: 980px;
    margin-top: 200px;
    position: relative;
}
#xie1,#xie2,#xie3,#xie4,#xie5{
    -webkit-transform: skew(-35deg,25deg);
    max-height: 340px;
    box-shadow: -5px 4px 5px rgba(0,0,0,.2);
}
#section3 div{
    position: relative;
    left: 100px;

}
#xie1,#xie2,#xie3,#xie4,#xie5{
    position: absolute;
}
#xie1{
    left: 150px;
    top: 100px;
}
#xie2{
    left: 470px;
    top: 50px;
}
#xie3{
    left: 220px;
    top: 410px;
}
#xie4{
    left: 520px;
    top: 390px;
}
#xie5{
    left: 800px;
    top: 380px;
}
#svg1{
    position: absolute;
    right: -300px;
    z-index: 0;
    opacity: 0.8;
}
#svg2{
    position: absolute;
    left: -450px;
    z-index: -1;
    top: 400px;
    opacity: 0.6;
}
#za{
    list-style-type: none;
    position: absolute;
    right: 250px;
    top: 150px;
}
#za h2{
    margin-bottom: 20px;
    color: #333;
}

#za li{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
}
#za li img{
    margin-right: 10px;
}
/*第四幕*/
#title{
    position: absolute;
    top: 0;
    color: #333;
}
#one,#two,#three{
    color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#four img{
    margin-right: 10px;
}
#one{
    position: absolute;
    top: 250px;
    left: 180px;
}
#two{
    position: absolute;
    top: 350px;
    left: 180px;
}
#three{
    position: absolute;
    left: 180px;
    top: 450px;
}
#four{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    position: relative;
}
#phoneBox3{
    position: absolute;
    top: 600px;
    right: 20px;
}
#centerPhone{
    position: relative;
    top: 200px;
    z-index: 1;
    box-shadow: 5px 4px 5px rgba(0,0,0,.2);
}
#leftPhone{
    position: relative;
    left: 100px;
    box-shadow: 5px 4px 5px rgba(0,0,0,.2);
}
#rightPhone{
    position: relative;
    right: 100px;
    z-index: 0;
    box-shadow: 5px 4px 5px rgba(0,0,0,.2);
}
/*尾部*/
footer{
    background: url(../images/foot.jpg) no-repeat;
    background-size: 100%;
    height: 742px;
    max-height: 742px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    border: 2px solid #fff;
    padding:25px 50px;
    margin-top: 0px;
}
footer a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}
footer img{
    max-height: 150px;
    position: absolute;
    top: 4000px;
    margin-top: 100px;
}
